body {
    background: linear-gradient(to bottom, rgba(166,192,254,0.5), rgba(246,128,132,0.5));
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2em;
    text-align: center;
  }

  header {
    background-color: rgb(122, 205, 238);
    padding: 1em;
    text-align: center;
    justify-content: space-between;
  }

  h1 {
    font-size: 2em;
    padding-top: 4em;
}